<%- include('../partials/header') %>

<h1>Departure</h1>

<%= flight.airline %>
<%= flight.flightNo %>
<br>
<%= flight.airport %>
<br>
<%= flight.departs %>
<br><br>

<form action="/flights/<%= flight._id %>/destinations" method="POST" autocomplete="off">
    <h2>Enter Arrival:</h2>
    <br>
    <label>Airport ["AUS", "DFW", "DEN", "LAX", "SAN"]:
      <input type="text" name="airport">
    </label><br>
    <br>
    <label>Arrival Date:
      <input type="text" name="arrival">
    </label><br>
    <br>
    <button type="submit">Submit</button>
</form>

<br><br>

<h5>Arrival Options: </h5>
<% if (flight.destinations.length) { %>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Arrival At:</th>
                <form action="/flights/<%= flight._id %>/destinations/ascending" method="GET">
                    <th>Arrival Date: <button>v</button> </th>
                </form>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(d => { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>


    
<% } else { %>
    <h5>Yet to select Arrival destination</h5>
<% } %>
 


<%- include('../partials/footer') %>