<%- include('../partials/header') %>
<div class="textBg detailTable">

    <h2 class="display-2">Departure</h2>
    <hr>
    <div class="text-primary">
        <%= flight.airline %>Airlines - Flight #: <%= flight.flightNo %><br>
        Departure Airport: <%= flight.airport %><br>
        <%= flight.departs %>
    </div><br>
    
    <form action="/flights/<%= flight._id %>/destinations" method="POST" autocomplete="off">
        <h5 class="display-6">Add more <i>Arrivals</i>:</h5>
        <hr>
        <div class="d-flex justify-content-between">
            <div>
                <label>Arrival Airport:</label>
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN">DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
            </div>
            <div>
                <label>Arrival Date:</label>
                    <input type="date" name="arrival">
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <br>

    <h3 class="display-3">Arrival Options: </h3>
    <% if (flight.destinations.length) { %>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Arrival At</th>
                    <form action="/flights/<%= flight._id %>/destinations/ascending" method="GET">
                        <th>Arrival Date <button>v</button> </th>
                    </form>
                </tr>
            </thead>
            <tbody>
                <% const currentTime = () => new Date() %>
                <% flight.destinations.forEach(d => { %>
                    <tr>
                    <% if (currentTime() > d.arrival) { %>
                        <td class="text-danger"><%= d.airport %></td>
                        <td class="text-danger"><%= d.arrival %></td>
                    <% } else { %>
                        <td><%= d.airport %></td>
                        <td><%= d.arrival %></td>
                    <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    
    <% } else { %>
        <hr>
        <h5 class="display-6 fs-5 text-center">- Yet to add Arrival destinations -</h5>
    <% } %>
    <br>
    <form action="/flights/<%= flight._id %>/tickets/new" method="GET">  
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Purchase Tickets Here</button>
        </div>
    </form>
    <br>
    <h5 class="display-6">Ticket Options:</h5>
    <% if (tickets.length) { %>
        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(function(t) { %>
                <tr>
                    <td><%= t.seat %></td>
                    <td>$<%= t.price %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>     
    <% } else { %>
        <hr>
        <h5 class="display-6 fs-5 text-center">- Yet to purchase Tickets -</h5>
    <% } %>                           
</div>

<%- include('../partials/footer') %>